
.env
.next
google-service-key.json
firestore.indexes.json
database.rules.json
components.json
.firebaserc
# dependencies
/node_modules
/.pnp
.pnp.js 
cors.json
# testing
/coverage

# production
/build
database.rules.json
storage.rules

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
