rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
    allow read, create: if request.auth != null;
    allow update, delete: if request.auth.uid == user_id;
    }
    
    match /books/{id} {
      allow write, read: if request.auth != null; // Only authenticated users can write posts
      allow update, delete: if request.resource.data.createdBy.id == request.auth.uid;
    }

  match /competitions/{id} {
      allow write, read: if request.auth != null; // Only authenticated users can write posts
      allow update, delete: if request.resource.data.createdBy.id == request.auth.uid;
    }

      match /clubs/{id} {
      allow write, read: if request.auth != null; // Only authenticated users can write posts
      allow update, delete: if request.resource.data.createdBy.id == request.auth.uid;
    }

  }
}