
.dark-blue-gradiented {
    /* background: linear-gradient(118.471deg, rgba(39, 39, 39, 40%) 0%, rgba(71, 119, 255, 40%) 100%); */
    background: radial-gradient(100% 316.05% at 0% 100%, rgba(1, 36, 131, 0.25) 0%, rgba(252, 252, 252, 0.025) 100%),
        radial-gradient(100% 174.51% at 100% 0%, rgba(252, 252, 252, 0.105) 0%, rgba(112,59,247, 0.1) 100%)
}

.light-blue-gradient {
    background: linear-gradient(115.653deg, #4777FF 0%, #FCFCFC 100%);
}

.dark-white-gradient {
    background: linear-gradient(119.609deg, rgba(39, 39, 39, 0.35) 0%, #FCFCFC 100%);
}

.button-blue-dark-gradient{
    background: linear-gradient(118.471deg, #272727 0%, #4777FF 100%);
}

.header-gradient{
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 20%;
    }
    100% {
        background-position: 100% 50%;
    }
}