.club-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  color: whitesmoke;
  margin-top: 15px;
}

.club-detailed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(21, 116, 224, 0.657);
  border-radius: 10px;
  position: relative;
}

.club-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.club-description {
  max-height: 200px;
  max-width: 500px;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
  margin: 20px;
}

.club-description p {
  line-height: 1.5;
}

.creator-linked {
  color: rgb(34, 244, 255);
  transition: all 0.5s;
}

.creator-linked:hover {
  color: rgb(26, 255, 114);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.join-btn {
  font-weight: 600;
  font-family: inherit;
  padding: 5px;
  font-size: 16px;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline: none;
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
}
