.messages-holder.competition-chat {
  height: auto;
  color: white;
}

.your-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.your-message .message-content {
  background-color: rgba(0, 135, 254, 0.696);
  border-radius: 2px;
  color: white;
  padding: 20px;
  max-width: 450px;
  margin-right: 15px;
  word-wrap: break-word;
}
.message-managment.competition-messages label {
  height: 50px;
}

.messaging-container.competition-chat {
  height: 55vh;
  width: 80%;
}
