.search-container form h2 {
  color: rgb(19, 106, 255);
}

.search-container h2 {
  color: white;
}

.input-date {
  border: none;
  padding: 10px;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.253);
}
