.created-by {
  background: linear-gradient(to bottom right, #486eff, #1801e5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
  margin: 15px;
  color: white;
}

.creator-info {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creator-img {
  width: 150px;
  height: 150px;
  transition: all 0.5s;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.creator-img:hover {
  transform: scale(1.05) rotate(15deg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.creator-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
