.file-upload {
  display: inline-block;
  position: relative;
}

.file-upload span {
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.file-upload span:hover {
  background-color: #0062cc;
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

textarea {
  width: 450px;
  height: 200px;
  font-family: inherit;
  resize: none;
}

textarea:active,
textarea:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: none;
  border-radius: none;
  outline: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0077ff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fd8300;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  textarea {
    width: 300px;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  textarea {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  textarea {
    width: 350px;
  }
}

@media (min-width: 1024px) and (max-width: 1560px) {
  textarea {
    width: 350px;
  }
}
