.book-form-icon {
  color: rgb(0, 123, 255);
  width: 50px;
  height: 50px;
}

.wrong {
  color: crimson;
}

.condition-area {
  margin: 15px;
}

.btn.yes {
  background: green;
}

.btn.no {
  background: red;
}

.btn.active {
  background: rgb(42, 73, 230);
  transform: translateY(-5px);
}

.loader-container form {
  color: black;
}
