.home-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.books-holder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  margin: 15px;
}

.books-holder a {
  text-decoration: none;
}

.book {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 91, 170);
  border-radius: 5px;
  transition: 0.5s all;
  color: white;
  border: 2px solid whitesmoke;
  cursor: pointer;
  width: 250px;
  height: 300px;
}

.recomended-book {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: goldenrod;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  transition: 0.5s all;
  cursor: pointer;
  border: 3px solid black;
  color: white;
}

.recomended-book:hover {
  transform: translateY(-5px);
  border-color: burlywood;
}

.recomended-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.prev-cover.recomended {
  width: 60px;
  height: 60px;
}

.book:hover {
  transform: translateY(-10px) scale(1.01);
}

.prev-cover {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.378);
  border-radius: 5px;
}

.prev-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pages-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sort-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-icon {
  width: 200px;
  height: 200px;
}

.error-icon img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.recomended-header {
  color: aliceblue;
}

/*Phones*/
@media screen and (max-width: 540px) {
  .books-holder {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .recension {
    height: 20vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .recension::-webkit-scrollbar {
    display: none;
  }

  .books {
    grid-template-columns: repeat(2, 1fr);
  }

  .recomended-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .notification-btn.mobile {
    display: block;
  }

  .mobile-nav {
    display: flex;
  }

  .results-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .competitions-container {
    width: 50vw;
  }

  .prev-cover {
    width: 80px;
    height: 80px;
  }

  .book {
    padding: 15px;
    width: 50vw;
    height: 30vh;
  }

  .nav-options {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }

  .sort-section {
    flex-direction: column;
  }

  .small-avatar {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .books-holder {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .recension {
    height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .recension::-webkit-scrollbar {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .nav-options {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }

  .prev-cover {
    width: 60px;
    height: 60px;
  }

  .book {
    padding: 10px;
    width: 35vw;
    height: 30vh;
  }

  .sort-section {
    flex-direction: column;
  }

  .recomended-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .prev-cover.recomended {
    width: 50px;
    height: 50px;
  }

  .competitions-container {
    width: 40vw;
    padding: 5px;
  }

  .small-avatar {
    width: 40px;
    height: 40px;
  }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-options {
    display: none;
  }

  .recomended-holder {
    grid-template-columns: repeat(3, 1fr);
  }

  .hamburger-btn {
    display: block;
  }

  .mobile-nav {
    display: flex;
  }

  .prev-cover {
    width: 75px;
    height: 75px;
  }

  .books-holder {
    grid-template-columns: repeat(3, 1fr);
  }

  .book {
    padding: 10px;
    width: 25vw;
  }

  .small-avatar {
    width: 40px;
    height: 40px;
  }
  .competitions-container {
    width: 220px;
  }

  .recension {
    height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .recension::-webkit-scrollbar {
    display: none;
  }
}

/*Desktops*/
@media (min-width: 1024px) and (max-width: 1560px) {
  .books-holder {
    grid-template-columns: repeat(4, 1fr);
  }

  .book {
    padding: 10px;
    width: 20vw;
  }

  .competitions-container {
    width: 20vw;
  }

  .recension {
    height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .recension::-webkit-scrollbar {
    display: none;
  }

  .club {
    width: 25vw;
    height: 12vh;
  }
}
