.members {
  background-color: rgba(70, 110, 255, 0.435);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 300px;
  margin: 5px;
  background-color: rgb(69, 113, 255);
  border-radius: 5px;
  transition: all 0.5s;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.user:hover {
  background-color: rgb(0, 126, 252);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

@media (max-width: 425px) {
  .members {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .members {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1560px) {
  .members {
    grid-template-columns: repeat(3, 1fr);
  }
}
