.ranking {
  background-image: linear-gradient(-30deg, #00277aa7 0%, #2a80f0 100%);
  padding: 20px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.ranking h2 {
  word-wrap: break-word;
}

.silver {
  background: linear-gradient(45deg, #c4c4c4, #929292);
  color: black;
}

.gold {
  background: linear-gradient(45deg, #f0c419, #bda728);
}

.bronze {
  background: linear-gradient(45deg, #a4632e, #7a421b);
}

.ranking-status {
  font-weight: 650;
}

.ranking-member .small-avatar {
  width: 40px;
  height: 40px;
}

.ranking-member .small-avatar {
  margin-right: 10px;
}

.ranking.expired-ranking {
  background: rgb(57, 55, 55);
}
