.recensions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 10px;
}

.recension {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  cursor: pointer;
}

.recension p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.recension small * {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

@media screen and (min-width: 0px) and (max-width: 694px) {
  .recensions-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 694px) and (max-width: 1024px) {
  .recensions-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
