.searched-option-container {
  color: white;
}

.search-option {
  background-color: rgb(38, 128, 245);
  padding: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-option svg {
  font-size: 32px;
  line-height: 48px;
}

.search-option-btn {
  outline-color: transparent;
  background: none;
  border: none;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-family: inherit;
}
