.hero-section {
  position: relative; /* Ensure relative positioning for proper stacking */
  background-image: url("https://images.unsplash.com/photo-1610116306796-6fea9f4fae38?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section::after {
  content: ""; /* Required for the pseudo-element to appear */
  position: absolute; /* Position the pseudo-element relative to the .hero-section */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(66, 102, 181, 0.624);
}
.book-shadow {
  box-shadow: 1px 5px 7px 3px rgb(219, 219, 219);
}
.snap-inline {
  scroll-snap-type: inline mandatory;
}

.snap-inline::-webkit-scrollbar {
  display: none;
}

.pattern-bg {
  background: url("../../assets/istockphoto-1195780698-612x612_prev_ui.png")
}

.react-tel-input .special-label {
  background: rgba(66, 102, 181, 0.624) !important;
  border-radius: 5px;
  color: white;
}


.css-1fbare3-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  color: white !important;
  background-color:  #1a2339 !important;
  border: 1px solid #4267B5 !important;
}