.under-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(20deg, #194b96 0%, #2462be 100%);
  border-top: 2px solid white;
}

.visit-p {
  font-weight: 700;
}

.under-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.undernav-link {
  position: relative;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.5s all;
  overflow: hidden;
}

.undernav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: rgb(255, 244, 26);
  transition: 0.5s all;
}

.undernav-link:hover::before {
  animation: underNavLinkAnimation 1s infinite;
}

.undernav-link:hover {
  color: rgb(255, 244, 26);
}

@keyframes underNavLinkAnimation {
  0% {
    left: -100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
