body {
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}
